html {
    background-image: url('/dist/images/rainforest.png');
}

#logo {
    height: 210px;
    width: 300px;
}

.menuItems {
    height: 33%;
    width: 33%;
}

.menuEntries {
    background-color: lightgreen;
    border-color: darkgreen;
    border: 2px;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
}

.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
    background: #90CAF9;
    font-weight: bold;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
	width: 100%;
	display: none;
    padding: 1rem;
    background: #fff;
}

.tabs input[type="radio"] {
	display: none;
}

.tabs input[type="radio"]:checked + label {
	background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

body {
    background: #eee;
    opacity: 96%;
    min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 112%;
}